@{
    ViewBag.Title = "Dreambox solution";
}
<style>
    .button {
        -moz-appearance: button;
        /* Firefox */
        -webkit-appearance: button;
        /* Safari and Chrome */
        padding: 10px;
        margin: 10px;
        width: 70px;
    }

    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        width: 200px;
        height: 65px;
        text-align: center;
        padding-top: 25px;
        margin: 10px;
    }

    .dragover {
        border: 5px dashed blue;
    }
</style>
<h2>Category Management</h2>
<br />
<div ng-controller='CategoryController' class="row " style=" width:100%;padding:5px;">
    <script type="text/ng-template" id="categoryTree">
        <span class="iwt">
            @*<label ng-if="category.categories && category.iscollapsed" ng-click="selectNodeHead(category)"><i class="glyphicon glyphicon-folder-open clickable"></i></label>
                <label ng-if="category.categories && !category.iscollapsed" ng-click="selectNodeHead(category)"><i class="glyphicon glyphicon-folder-close clickable"></i></label>*@
            <i ng-if="category.categories && category.iscollapsed" ng-click="selectNodeHead(category)" class="glyphicon glyphicon-folder-open clickable"></i>
            <i ng-if="category.categories && !category.iscollapsed" ng-click="selectNodeHead(category)" class="glyphicon glyphicon-folder-close clickable"></i>
            <span ng-click="SelectNode(category,parent)" ng-class="{CurrentNode:category===currentNode}" class="clickable">
                {{ category.CategoryDesc }}
            </span>
        </span>
        <ul ng-if="(category.categories && category.iscollapsed)||category.CategoryID=='0'">
            <li ng-repeat="category in category.categories" ng-include="'categoryTree'" ng-init="parent=$parent.category">
            </li>
        </ul>
    </script>
    <div class="col-xs-6 col-md-4 panel panel-default">
        <ul>
            <li ng-repeat="category in categories" ng-include="'categoryTree'"></li>
        </ul>
    </div>
    <div ng-show="divModification" class="col-xs-12 col-md-8">
        <input type="button" value="New" ng-click="add()" class="btn" />
        <input type="button" value="Edit" ng-click="edit()" class="btn" />
        <input type="button" value="Delete" ng-click="delete()" class="btn" />
        <br />
        <br />
        <div ng-show="divAdd" class="panel panel-default">
            <form name="appForm" novalidate>
                <div class="form-horizontal">
                    <h3>{{Operation}} Category</h3>
                    <span class="alert-danger">{{errormessage}}</span>
                    <br />
                    <div class="form-group">
                        @Html.Label("Parent", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            <p class="form-control-static">{{ParentName}}</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors='{showSuccess: true}'>
                        @Html.Label("Category name", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            <input type="text" name="CategoryDesc" ng-model="CategoryDesc" class="form-control" required placeholder="Category name" />
                            <p class="help-block" ng-if="appForm.CategoryDesc.$error.required">Category name is requied</p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Image path", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            <input type="file" file-model="ImgPath" />
                        </div>
                    </div>
                    <input type="text" style="width:20px;" ng-model="ParentID" class="hidden" />
                    <input type="text" style="width:20px;" ng-model="ImageUrl" class="hidden" />
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="button" value="Save" ng-click="Save()" class="btn" />
                            <input type="button" value="Cancel" ng-click="cancel()" class="btn" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
