@{
    ViewBag.Title = "Dreambox solution";
}
<style>
    .form-group .help-block {
        display: none;
    }

    .form-group.has-error .help-block {
        display: block;
    }
</style>
<h2>Channel Management</h2>
<div ng-controller="ChannelController">
    @*<a href="/permission">Permission</a><br />*@
    @*Filter: <input type="text" value="ChannelDesc" ng-model="FilterByChannelDesc" />
        <br />*@

    <div ng-show="divModification">
        <form name="appForm" novalidate>
            <div class="form-horizontal">
                <p>{{Operation}} Channel</p>
                <span class="alert-danger">{{errormessage}}</span>
                <div class="form-group" show-errors='{showSuccess: true}'>
                    @Html.Label("Channel name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="ChannelDesc" ng-model="ChannelDesc" class="form-control" required placeholder="Channel name" />
                        <p class="help-block" ng-if="appForm.ChannelDesc.$error.required">Channel name is requied</p>
                    </div>
                </div>
                <div class="form-group" show-errors='{showSuccess: true}'>
                    @Html.Label("Channel path", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="ChannelPath" ng-model="ChannelPath" class="form-control" required placeholder="Channel path" />
                        <p class="help-block" ng-if="appForm.ChannelPath.$error.required">Channel path is requied</p>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Status", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="radio">
                            <label>
                                <input type="radio" name="ChannelStatus" value="Active" ng-model="ChannelStatus">
                                Active
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="ChannelStatus" value="Not Active" ng-model="ChannelStatus">
                                Not Active
                            </label>
                        </div>
                    </div>
                </div>
                <input type="text" style="width:20px;" ng-model="ChannelID" class="hidden" />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Save" ng-click="Save()" class="btn" />
                        <input type="button" value="Cancel" ng-click="Cancel()" class="btn" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div ng-show="divGrid">
        <input type="button" value="New channel" ng-click="add()" class="btn" />
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th st-sort="ChannelDesc"><b>Channel name</b></th>
                    <th st-sort="ChannelPath"><b>Channel Path</b></th>
                    <th st-sort="ChannelStatus"><b>Channel Status</b></th>
                    <th><b>Operation</b></th>
                </tr>
                @*<tr>
                        <th>
                            <input st-search="'ChannelDesc'" placeholder="search for Channel name" class="input-sm form-control" type="search" />
                        </th>
                        <th colspan="4">
                            <input st-search placeholder="global search" class="input-sm form-control" type="search" />
                        </th>
                    </tr>*@
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedCollection">
                    <td cs-select="row"></td>
                    <td>
                        {{row.ChannelDesc}}
                    </td>
                    <td>
                        {{row.ChannelPath}}
                    </td>
                    <td>
                        {{row.ChannelStatus}}
                    </td>
                    <td>
                        <button type="button" ng-click="edit(row)" class="btn btn-sm ">
                            <i class="glyphicon glyphicon-edit">
                            </i>
                        </button>
                        <button type="button" ng-click="delete(row)" class="btn btn-sm ">
                            <i class="glyphicon glyphicon-edit glyphicon-remove-circle">
                            </i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>