@{
    ViewBag.Title = "Dreambox solution";
}
<h2>Mapping Category to Member type</h2>
<br />
<div ng-controller="MemberTypeMappingController" class="row panel panel-default" style=" width:100%;padding:5px;">
    <div class="col-xs-6 col-md-4">
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table">
            <thead>
                <tr>
                    <th st-sort="MemberTypeName" class="clickable"><b>Member Type</b></th>
                    @*<th></th>*@
                </tr>
                <tr>
                    <th>
                        <input st-search="MemberTypeName" type="text" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedCollection" ng-click="selectRow(row)" ng-class="{success:row===currentMemType}" class="clickable">
                    <td>
                        {{row.MemberTypeName}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="1" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-xs-12 col-md-8">
        <div ng-show="divActiveCategory" class="panel panel-default" style=" width:100%; margin-left:10px; margin-top:20px; padding:5px;">
            <h3>Add Category to {{currentMemType.MemberTypeName}}</h3>
            <input type="button" value="Add" ng-click="add()" class="btn" />
            <input type="button" value="Cancel" ng-click="cancel()" class="btn" />
            <table st-table="displayedcateCollection" st-safe-src="cateCollection" class="table">
                <thead>
                    <tr>
                        <th><p>Select</p></th>
                        <th st-sort="CategoryName" class="clickable"><b>Category name</b></th>
                        <th st-sort="CreateDate" class="clickable"><b>Create date</b></th>
                    </tr>
                    <tr>
                        <th>

                        </th>
                        <th>
                            <input st-search="CategoryName" type="text" />
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cateA in displayedcateCollection">
                        <td><input type='checkbox' value="{{cateA.CategoryID}}" check-list='SelectItemCates' class="clickable"> </td>
                        <td>
                            {{cateA.CategoryName}}
                        </td>
                        <td>
                            {{cateA.CreateDate | ToJavaScriptDateToString | date:'yyyy-MM-dd HH:mm:ss'}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-center">
                            <div st-pagination="" st-items-by-page="itemscateByPage"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div ng-show="divMappingCategory" class="panel panel-default" style=" width: 100%; margin-left: 10px; margin-top: 20px; padding: 5px;">
            <h3>Mapped Category in {{currentMemType.MemberTypeName}}</h3>
            <input type="button" value="New category" ng-click="addCategory()" class="btn" />
            <table st-table="displayedmapCollection" st-safe-src="mapCollection" class="table">
                <thead>
                    <tr>
                        <th st-sort="CategoryName" class="clickable"><b>Category name</b></th>
                        <th st-sort="CreateDate" class="clickable"><b>Create date</b></th>
                        <th><b>Operation</b></th>
                    </tr>
                    <tr>
                        <th>
                            <input st-search="CategoryName" type="text" />
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cate in displayedmapCollection">
                        <td>
                            {{cate.CategoryName}}
                        </td>
                        <td>
                            {{cate.CreateDate | ToJavaScriptDateToString | date:'yyyy-MM-dd HH:mm:ss'}}
                        </td>
                        <td>
                            <button type="button" ng-click="delete(cate)" class="btn btn-sm ">
                                <i class="glyphicon glyphicon-trash">
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsmapByPage"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
