@{
    ViewBag.Title = "Dreambox Solution";
}
<h2>Change password</h2>
<div ng-controller="ChangePassowrdController">
    <form name="appForm" novalidate>
        <div class="form-horizontal">
            <span class="alert-danger">{{errormessage}}</span>
            <div class="form-group" show-errors='{showSuccess: true}'>
                @Html.Label("New password", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="password" name="NewPassword" ng-model="NewPassword" class="form-control" required placeholder="New password" />
                    <p class="help-block" ng-if="appForm.NewPassword.$error.required">New password is requied</p>
                </div>
            </div>
            <div class="form-group" show-errors='{showSuccess: true}'>
                @Html.Label("Confirm password", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="password" name="ConfirmPassword" ng-model="ConfirmPassword" class="form-control" required placeholder="Confirm password" />
                    <p class="help-block" ng-if="appForm.ConfirmPassword.$error.required">Confirm password is requied</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Save" ng-click="Save()" class="btn" />
                    <input type="button" value="Cancel" ng-click="Cancel()" class="btn" />
                </div>
            </div>
        </div>
    </form>
</div>