@{
    ViewBag.Title = "Dreambox solution";
}
<h2>Member type Management</h2>
<br />
<div ng-controller="MemberTypeController">
    <div ng-show="divModification" class="panel panel-default" style=" width:100%;padding:5px;">
        <form name="appForm">
            <div class="form-horizontal">
                <h3>{{Operation}} Member type</h3>
                <span class="alert-danger">{{errormessage}}</span>
                <br />
                <div class="form-group" show-errors='{showSuccess: true}'>
                    @Html.Label("Member type name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="MemberTypeName" ng-model="MemberTypeName"  maxlength="100" class="form-control" required />
                        <p class="help-block" ng-if="appForm.MemberTypeName.$error.required">Member type name is requied</p>
                    </div>
                </div>
                <input type="text" style="width:20px;" ng-model="MemberTypeID" class="hidden" />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Save" ng-click="Save()" class="btn" />
                        <input type="button" value="Cancel" ng-click="Cancel()" class="btn" />
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="panel panel-default" style=" width:100%;padding:5px;">
        <input ng-show="AddNew" type="button" value="New member type" ng-click="add()" class="btn btn-default" />
        <a class="btn btn-default" role="button" href="/MemberTypeMapping/Index">Category Mapping</a>
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table">
            <thead>
                <tr>
                    <th st-sort="MemberTypeName" class="clickable"><b>Member type name</b></th>
                    <th st-sort="RealName" class="clickable"><b>Dealer name</b></th>
                    <th st-sort="CreateDate" class="clickable"><b>Create date</b></th>
                    <th st-sort="UpdateDate" class="clickable"><b>Update date</b></th>
                    <td><b>Operation</b></td>
                </tr>
                <tr>
                    <th>
                        <input st-search="MemberTypeName" type="text" />
                    </th>
                    <th>
                        <input st-search="RealName" type="text" />
                    </th>
                    <th>
                        @*<input st-search="CreateDate" type="date" />*@
                    </th>
                    <th>
                        
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedCollection">
                    <td>
                        {{row.MemberTypeName}}
                    </td>
                    <td>
                        {{row.RealName}}
                    </td>
                    <td>{{ row.CreateDate | ToJavaScriptDateToString | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>
                        {{row.UpdateDate | ToJavaScriptDateToString | date:'yyyy-MM-dd HH:mm:ss' }}
                    </td>
                    <td>
                        <button type="button" ng-click="edit(row)" class="btn btn-sm ">
                            <i class="glyphicon glyphicon-edit">
                            </i>
                        </button>
                        <button type="button" ng-click="delete(row)" class="btn btn-sm ">
                            <i class="glyphicon glyphicon-trash">
                            </i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
